.wrapper {
    width: 100%;
    border-bottom: 1px solid #dee2e6 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.address {
    height: 52px;
    background-color: #e2f4fc;
    width: 100%;
}
