.wrapper {
    display: flex;
    height: 900px;
    margin: -10px;
}
.left {
    width: 42%;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 58%;
    height: 100%;
    position: relative;
    .btn-close {
        position: absolute;
        right: 0px;
        background-color: red;
        color: white;
        width: 40px;
        height: 40px;
        border-top-right-radius: 5px;
    }
}
.title-option {
    overflow-y: hidden;
    height: 90%;
    margin: 8px;
    width: 97%;
    padding: 0 24px;
    &:hover {
        overflow-y: auto;
    }
    .title-hr {
        border-bottom: 2px solid;
        width: 4rem;
        display: inline-flex;
        margin: 16px 0 24px;
    }
}
.title {
    font-size: 4rem;
    color: #0078ae;
    margin: 0 0 24px;
    margin-right: 30px;
    font-weight: 600;
    text-transform: capitalize;
}
.description {
    color: #858891;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0px 0px 24px;
}
//CSS choose-option-pizza

.choose-option-pizza {
    padding: 16px;
    .name-option {
        color: #212529;
        font-size: 1.6rem;
        margin: 0 0 16px;
        font-weight: 700;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin-left: 16px;
        margin-bottom: 24px;
    }
    li {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        border-bottom: 1px solid #d9dee4;
        height: 40px;
        display: flex;
        align-items: center;
    }
}
//css radio
.wrapper-radio {
    display: flex;
    align-items: center;

    .item-option {
        font-size: 1.6rem;
        color: #333333;
        font-weight: 600;
    }
}

//css Radio
.radio-input {
    width: 2rem;
    height: 2rem;
    display: none;
}
.radio-radio {
    width: 2rem;
    height: 2rem;
    border: 2px solid #c0cad6;
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 2px;
}
.radio-radio::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background-color: #c0cad6;
    border-radius: 50%;
    transform: scale(0);
}
.radio-input:checked + .radio-radio::after {
    transform: scale(1);
}
//end

//CSS Total
.total {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 12px;
    box-shadow: 0px 0px 16px rgb(0 42 61 / 16%);
}
.inline {
    display: flex;
    width: 100%;
    height: 100%;
}
@mixin btn-setting {
    padding: 12px 16px;
    line-height: 1.25;
    border: 1px solid transparent;
    user-select: none;
}
//CSS 3 button count
.total-left {
    display: flex;
    align-items: center;
    width: 35%;
    height: 100%;

    .btn-active {
        background-color: #dfe4ea;
        @include btn-setting();
        &:focus {
            color: #212529;
            background-color: #c8d1db;
            border-color: #c0cad6;
            box-shadow: 0 0 0 0.2rem rgb(195 199 205 / 50%);
        }
        &:hover {
            color: #212529;
            background-color: #c8d1db;
            border-color: #c0cad6;
        }
    }
    .btn-disable {
        @include btn-setting();
        pointer-events: none;
        background-color: #f2f4f8;
        opacity: 0.5;
    }
}
.count-order {
    z-index: 3;
    display: flex;
    width: 52px;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 12px 0px;
    padding-left: 20px;
    background-color: #f2f4f8;
    border: 0.5px solid #d9dee4;
    opacity: 0.5;
    &:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: none;
        box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    }
}

//CSS Add btn
.total-right {
    display: flex;
    align-items: center;
    width: 65%;
}

.add-product {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 13px 16px;
    background-color: #e31837;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    span {
        text-decoration: underline;
    }
    &:hover {
        background-color: #c0142f;
        border-color: #b5132c;
    }
}

//setting border radius btn ->count
.count-order + button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.btn-active {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
