@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import '~bootstrap/scss/bootstrap';

:root {
    --blue: #17a2b8;
    --primary: #004666;
    --blue-hover: #00628f;
    --blue-button: #0ca3ea;
    --header-height: 80px;
    --footer-height: 280px;
    --color-text: #6c757d;
    --yellow: #ffc107;
    --bg-white: #f2f4f8;
    --color-black: #25282d;
    --color-red: #e31837;
    --red-hover: #c0142f;
    --border-grey: #dee2e6;
    --grey-hover: #ececec;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25;
    color: #252129;
    text-rendering: optimizeSpeed;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}
//scrollBar css
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
