.wrapper {
    margin-top: 20px;
    width: 100%;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
        width: 98%;
        height: 98%;
        object-fit: cover;
    }
}
