.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.category-header {
    width: 100%;
    padding: 4px 0 24px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.header-inline {
    width: 100%;
    margin: 16px 35px;
    padding: 0px 15px;
}
