.wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-white);
}

.inline {
    width: 100vw;
    margin-top: var(--header-height);
    display: flex;
    justify-content: center;
    height: 90vh;
}
.inline-left {
    width: 77%;
    background-color: var(--bg-white);
    display: flex;
    flex-direction: column;
}
.content {
    display: flex;
    justify-content: center;
    overflow-y: auto;
}
